<body>
    <h1>Editing Book</h1>

<%= form_for(@book) do |b| %>

	      <% if @book.errors.any? %>
        <% @book.errors.full_messages.each do |message| %>
           <div class="error"> <%= message %><br></div>
        <% end %>
      <% end %>

    <h5 class="form">Title</h5>
    <%= b.text_field :title %>
    <h5 class="form">Body</h5>
    <%= b.text_area :body %><br>
    <%= b.submit 'Update Book' %>

  <% end %>
</form>

<p class ="show-foot-tag"><%= link_to "Show", book_path(@book), :style=>"color:black" %> |
<%= link_to "Back", books_path, :style=>"color:black" %></p>


</body>