<section class="books-show">

<% if flash[:notice] %>
	<div class="flash">
		<p class="notice"><%= flash[:notice] %></p>
	</div>

<% end %>

<p><strong>Title:</strong><%= @book.title %></p>
<p><strong>Body:</strong><%= @book.body %></p>

<div class="show-foot-tab">
<%= link_to "Edit" , edit_book_path(@book) %> |
<%= link_to "Back", books_path %>
</div>

</section>